/* Font Style */

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared text color */
.semi-bold {
    color: rgba(137, 135, 161, 1);
}

.bold {
    color: #252432;
}

.orange-clr {
    color: #E95A08
}

/* Navbar Section */
.navbar {

    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    padding: 10px;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
    align-items: center;
    font-size: small;

}

nav ul li a {
    text-decoration: none;
}

.shopping-cart {
    width: 32px;
    height: 32px;
}

.cart {
    display: flex;
    gap: 7px;
}

.home {
    font-weight: bold;

}

/* Banner Section */

.banner-container {

    width: 1140px;
    height: 461px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: flex;
    gap: 5px;
}

.banner-heading {
    font-size: 50px;
    font-weight: 700;

}

.banner-text {

    margin-right: 150px;
    margin-top: 150px;

}

.banner-img {
    margin-top: 106px;
}

.banner-text-design {
    color: #E95A08;
}

.banner-pera {
    font-weight: 22px;
}

/* Our plants sectioin */
.our-plants {

    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-plants-text {

    margin-left: 430px;
    margin-right: 430px;
    margin-top: -30px;
    text-align: center;
}

.evon {
    font-size: 50px;
}

/* Flower Card Container */
.flower-card-container {
    margin-left: 55px;
    padding: 125px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: -80px;

}

.flower-card {
    height: 484px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    width: 100%;
    background-color: #E95A08;
    color: #fff;
    border: none;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #7cb1197f;
    color: #E95A08;
}

.price {
    font-weight: 800;
}

/* Flower and Plants Lover  */

.lover {

    display: flex;
    height: 597px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    gap: 20px;
}

.lover-box {

    margin-right: 200px;
    margin-right: 200px;
}

.lover-heading {
    font-size: 40px;
    margin-left: 20px;

}

.lover-para {
    line-height: 35px;

}

.love-pic-badge {
    position: absolute;
    margin-top: 1950px;
    margin-right: 700px;
    top: 0;
    right: 0;
    height: 300px;
    width: 300px;
}

/* Leatest deals section */

.leatest {
    
    margin-left: 350px;
    margin-right: 350px;
    justify-items: center;
    margin-top: 50px;

}

.leatest-header{
    font-size: 40px;
}
.leatest-pera {
    text-align: center;
    margin-top: 1px;
    font-size: 17px;
}